<div class="app">

  <!-- FILTROS -->
  <div class="dashboard">
    <input type="text" placeholder="Tipo" [(ngModel)]="tipo">

    <input type="number" placeholder="ID Sujeto" [(ngModel)]="idSujeto">

    <input type="date" [(ngModel)]="fechaDesde">
    <input type="date" [(ngModel)]="fechaHasta">

    <button (click)="cargar()">Buscar</button>
  </div>

  <!-- TABLA -->
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>ID PEDIDO</th>
          <th>TIPO</th>
          <th>ID SUJETO</th>
          <th>MONTO</th>
          <th>FECHA</th>
          <!-- <th>DOCUMENTO</th> -->
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="liquidaciones.length === 0">
          <td colspan="7" style="text-align:center;">
            No hay datos
          </td>
        </tr>

        <tr *ngFor="let l of liquidaciones">
          <td>{{ l.idLiquidacion }}</td>
          <td>{{ l.idPedido }}</td>
          <td>{{ l.tipoLiquidacion }}</td>
          <td>{{ l.idSujeto }}</td>
          <td>{{ l.monto | number:'1.0-0' }}</td>
          <td>{{ l.fechaLiquidacion | date:'yyyy/MM/dd' }}</td>
          <!-- <td>{{ l.uriDocumento }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>

</div>