.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    min-height: 60px;
    background-color: var(--color-principal);
}

.top-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    cursor: pointer;
}

.top-bar ul li {
    color: white;
    transition: 0.3s all ease-in;
}

.top-bar ul li:hover {
    transform: scale(1.05);
    transform: translateY(-5px);
}

.enrouter {
    display: flex;
    margin: 4vh 5vw 2vh 5vw;
    justify-content: center;
    align-items: start;
    width: 70vw;
    align-self: center;
    justify-self: center;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    min-height: 70vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}