<!-- consultar-liquidaciones-transportistas.html -->
<div class="dashboard">
    <input type="date" [(ngModel)]="fechaDeInicio">
    <input type="date" [(ngModel)]="fechaDeFin">
    <button (click)="cargarLiquidaciones()">Buscar</button>
</div>

<div class="table-container up-radius">
    <table>
        <thead>
            <tr>
                <th>ID LIQUIDACIÓN</th>
                <th>ID PEDIDO</th>
                <th>ID TRANSPORTISTA</th>
                <th>MONTO CALCULADO</th>
                <th>FECHA LIQUIDACIÓN</th>
            </tr>
        </thead>
    </table>
</div>
<div class="table-container down-radius">
    <table>
        <tbody>
            <tr *ngIf="liquidaciones.length === 0">
                <td colspan="5" style="text-align: center;">
                    No hay liquidaciones para mostrar
                </td>
            </tr>
            <tr *ngFor="let liquidacion of liquidaciones">
                <td>{{ liquidacion.idLiquidacion }}</td>
                <td>{{ liquidacion.idPedido }}</td>
                <td>{{ liquidacion.idTransportista }}</td>
                <td>{{ liquidacion.montoCalculado | number:'1.2-2' }}</td>
                <td>{{ liquidacion.fechaLiquidacion | date:'yyyy/MM/dd' }}</td>
            </tr>
        </tbody>
    </table>
</div>