/* You can add global styles to this file, and also import other style files */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(59, 43, 73);
    font-weight: 500;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebebeb;
}

:root {
    --color-principal: #004fce;
    --color-secundario: #222d34;
}

input {
    border: 1px solid rgb(57, 57, 57);
    padding: 5px;
    border: silver 1px solid;
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease;
    padding-left: 10px;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #484848;
}

input:hover {
    outline: 2px solid var(--color-principal);
}

input:focus {
    outline: 2px solid var(--color-principal);
    transform: scale(1.05);
}

.inputLupa {
    background: url('/magnifying-glass-solid-full.svg') no-repeat 10px center;
    background-size: 16px 16px;
    padding-left: 30px !important;
}

button {
    background: var(--color-principal);
    padding: 14px 20px;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);

}

table{
    border-collapse: collapse;
    table-layout: fixed;
    border: none;
    font-size: bold;
    color: #9b2a2a;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 15px;
}

th,td{
    height: 60px;
    align-items: center;
    text-align: center;
}

th{
    border-bottom: var(--color-principal) 2px solid;
    font-weight: 800;
}

table th:nth-child(1),
table td:nth-child(1) {
  width: 4vw; /* Proveedor */
}

tbody{
    border-radius: 15px;
}

tbody tr:nth-child(odd){
    background-color: #edebf3;
}

tbody tr:hover td, 
tbody tr:hover th {
    background-color: var(--color-principal);
    color: white !important; /* El !important asegura que gane a cualquier otro estilo */
}

.dashboard{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-bottom: 30px;
}

.badge{
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}

/* Forma pago */
.cuenta{
    background: #e8f0ff;
    color: #2563eb;
}

.efectivo{
    background: #dcfce7;
    color: #15803d;
}

/* Estado */
.pagada{
    background: #dcfce7;
    color: #15803d;
}

.pendiente{
    background: #fff7d6;
    color: #b45309;
}